.text-on_contact {
    /* bottom: 0; */
    position: absolute;
    /* margin-left: 5% !important; */
    margin-top: 15% !important;
    margin: 5% !important
}

.about_text {
    width: 269px;
    height: 102px;
    font-family: 'Avander';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 101px;
    color: #FFFFFF;
    display: flex;
}

.text-on_contact1 {
    /* bottom: 0; */
    position: absolute;
    margin-left: 5% !important;
    margin-top: 28%;
    margin: 5% !important
}

.scroll-class {
    background-color: none;

}

@media screen and (min-device-width: 767px) {
    .toping {
        margin-top: 15% !important;
    }
}

@media screen and (max-width: 767px) {
    .toping {
        margin-top: 30% !important;
    }
}

.toping1 {
    margin-top: 20% !important;
}

@media screen and (max-width: 540px) {
    .about_welcome {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        /* line-height: 43px; */
        align-items: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }

    .labout_longdesc {
        position: relative;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        align-items: center;
        letter-spacing: 0.08em;
        color: #FFFFFF;
        width: 95%;
    }
}

@media screen and (min-device-width: 540px) {
    .about_welcome {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 43px;
        align-items: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        /* position: absolute; */
        display: flex;

    }

    .labout_longdesc {
        position: relative;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 23px;
        align-items: center;
        letter-spacing: 0.08em;
        color: #FFFFFF;
        width: 95%;
    }
}