@media screen and (max-width: 767px) {
.leira_bank {
    /* position: absolute; */
    width: 269px;
    height: 102px;
    font-family: 'Avander';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 101px;
    color: #FFFFFF;
    margin-top: 16% !important;
}
}
@media screen and (min-device-width: 1029px) {
    .leira_bank {
        /* position: absolute; */
        width: 269px;
        height: 102px;
        font-family: 'Avander';
        font-style: normal;
        font-weight: 400;
        font-size: 52px;
        line-height: 101px;
        color: #FFFFFF;
        margin-top: 10% !important;
    }
}

.leira_bank_des {
    /* position: absolute; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 43px;
    align-items: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.text-onBG {
    margin-top: 8%;
    /* margin-left: 8%; */
    position: absolute;
    margin: 4%;
    margin-top: 7%;
}

.bank_img {
    width: 472.93px;
    /* margin-top: 4%;
    margin-left: 5%; */
}

.bak_box {
    /* position: absolute; */
    width: 818px;
    height: 481px;
    background: #AA9063;
    border-radius: 8px;
    margin-top: -10%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.box_text {
    /* position: absolute; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 63px;
    /* display: contents; */
    align-items: center;
    color: #FFFFFF;
    margin: 10%
}

.banking_style {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 23px;
    align-items: center;
    letter-spacing: 1px;
    color: #000000;
    display: flex;
}

.container_box {
    margin-top: 4%;
    /* margin-left: 5% */
    margin: 6% !important
}

#leirabankline {
    font-size: 0;
    width: 8%;
    height: 3px;
    color: #fff;
    background-color: #AA9063;
}

.big_desc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    align-items: center;
    letter-spacing: 1px;
    color: #000000;
    width: 95%;
}

#line_div {
    font-size: 0;
    width: 95%;
    height: 2px;
    color: #fff;
    background-color: #000000;
}

.social_icons {
    width: 36px;
    height: 35px;
}

.bak_box_mobile {
    width: 95%;
    height: 481px;
    background: #AA9063;
    border-radius: 8px;
    /* margin-top: -5%; */
    display: grid;
    align-items: center;
    justify-content: center;
}

.bank_img_mobile {
    width: 94%;
}

@media screen and (min-device-width: 768px) {
    .leira_bank_des {
        /* position: absolute; */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 43px;
        align-items: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }
    .leira_bank_longdesc {
        position: absolute;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 23px;
        align-items: center;
        letter-spacing: 0.08em;
        color: #FFFFFF;
    }
    }
    @media screen and (max-width: 767px) {
        .leira_bank_des {
            /* position: absolute; */
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            /* line-height: 43px; */
            align-items: center;
            letter-spacing: 0.06em;
            color: #FFFFFF;
        }
        .leira_bank_longdesc {
            position: absolute;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            /* line-height: 23px; */
            align-items: center;
            letter-spacing: 0.08em;
            color: #FFFFFF;
        }
    }