.arrow-left {
    /* width: 65px !important; */
    height: fit-content;
    cursor: pointer;
}

.arrow-right {
    /* width: 65px !important; */
    height: fit-content;
    cursor: pointer;
}

.arrow-left:hover {
    transform: scale(1.2);
}

.arrow-right:hover {
    transform: scale(1.2);
}

.count_div {
    color: black !important;
    position: relative !important;
    margin-top: 13px !important;
    margin-bottom: 17px !important
}

.read_more {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    align-items: center;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #000000;
    background-color: #fff;
    border: 2px solid #AA9063;
    border-radius: 78px;
    width: 204px;
    height: 40px;
    margin-top: 5px;
    cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.read_more:after {
    content: '\000bb';
    position: relative;
    opacity: 0;
    top: -1px;
    right: -40px;
    transition: 0.5s;
  }

  .read_more:hover  {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    align-items: center;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #000000;
    background-color: #AA9063;
    border: 2px solid #AA9063;
    border-radius: 78px;
    width: 204px;
    height: 40px;
    margin-top: 7px;
    padding-right: 50px;
  }
  
  .read_more:hover:after {
    opacity: 1;
    /* right: 0; */
  }

  @media (min-device-width: 1300px) {

  .read_more_ar {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    align-items: center;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #000000;
    background-color: #fff;
    border: 2px solid #AA9063;
    border-radius: 78px;
    width: 204px;
    height: 40px;
    margin-top: 5px;
    cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  margin-right: 76%;
}
  }
  @media (max-width: 767px) {
    .read_more_ar {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 26px;
      align-items: center;
      letter-spacing: 1.6px;
      text-transform: uppercase;
      color: #000000;
      background-color: #fff;
      border: 2px solid #AA9063;
      border-radius: 78px;
      width: 204px;
      height: 40px;
      margin-top: 5px;
      cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    /* margin-right: 76%; */
  }
  }
  @media (min-width: 768px) and (max-width: 1300px) {
    .read_more_ar {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 26px;
      align-items: center;
      letter-spacing: 1.6px;
      text-transform: uppercase;
      color: #000000;
      background-color: #fff;
      border: 2px solid #AA9063;
      border-radius: 78px;
      width: 204px;
      height: 40px;
      margin-top: 5px;
      cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    /* margin-right: 76%; */
    margin: auto;
    margin-left: -4%;
  }
  }
.read_more_ar:after {
    content: '\000bb';
    position: relative;
    opacity: 0;
    top: -1px;
    right: 20px;
    transition: 0.5s;
  }

  .read_more_ar:hover  {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    align-items: center;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #000000;
    background-color: #AA9063;
    border: 2px solid #AA9063;
    border-radius: 78px;
    width: 204px;
    height: 40px;
    margin-top: 7px;
    padding-left: 50px;
  }
  
  .read_more_ar:hover:after {
    opacity: 1;
    /* right: 0; */
  }

.spaceing{
  margin-left: 5% !important;
}

.spaceing1{
  margin-left: 5% !important;
  margin-top: 6% !important;
}
.invest-in-future-subheading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 29px;
  /* line-height: 101px; */
  align-items: center;
  /* text-align: center; */
  letter-spacing: 0.08em;
  color: #000000;
}

.decission{
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 22px;
/* line-height: 101px; */
align-items: center;
/* text-align: center; */
letter-spacing: 0.08em;
color: #AB8F67;
display: flex;
}

.third_banner{
  /* height: 700px; */
}


.invest-in-future-img1 {
  /* width: 1057.78px; */
  /* height: 595px; */
  /* margin-left: 3%; */
  width: 90%;
}
/* @media (min-width: 979px) {
} */

.thired-phase {
  /* position: absolute; */
  /* display: block; */
  /* width: 1437px;
  left: -5px;
  top: 1738px; */
  /* background: rgba(255, 255, 255, 0.87);
  height: 850px; */
  justify-content: center;
}

@media screen and (max-width: 767px) {
.invest_buttons_align{
  align-items: center;
  margin-right: 8%;
}
}