.imageSlide1 {
    width: 100% !important;
    height: 50% !important;
}

.imageLogo {
    width: 10% !important;
    height: 10% !important;
}

.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px !important;
    height: 10px !important;
    margin-right: 7px;
    margin-left: 3px;
    border-radius: 50% !important;
    text-indent: -1015px;
    background-color: #FFFFFF;
}

.carousel-indicators_ar li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px !important;
    height: 10px !important;
    margin-right: 7px;
    margin-left: 3px;
    border-radius: 50% !important;
    text-indent: -1015px;
    background-color: #FFFFFF;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 5%;
    /* z-index: 15; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    /* margin-left: 15%; */
    list-style: none;
}

.carousel-indicators_ar {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 5%;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 2.6%;
    /* margin-left: 15%; */
    list-style: none;
}

.carousel-indicators .active {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px !important;
    height: 10px !important;
    margin-right: 7px;
    margin-left: 3px;
    border-radius: 50% !important;
    text-indent: -1015px;
    background-color: #AA9063 !important;
    margin-top: 1px;
}

.carousel-indicators_ar .active {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px !important;
    height: 10px !important;
    margin-right: 7px;
    margin-left: 3px;
    border-radius: 50% !important;
    text-indent: -1015px;
    background-color: #AA9063 !important;
    margin-top: 1px;
}

.carousel-next-icon,
.carousel-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.carousel-prev-icon {
    background-image: url("../assets/Arrow2.png") !important
}

.carousel-next,
.carousel-prev {
    /* position: absolute; */
    /* top: 100% !important; */
    /* bottom: 20px !important; */
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    width: 25% !important;
    color: #dc135b !important;
    text-align: center !important;
    opacity: .5 !important;
}

.carousel-next {
    /* left: 48% !important; */
    /* background-color: #dc135b !important; */
}

.carousel-prev {
    /* position: relative !important; */
    /* right: 47% !important; */
    /* background-color: #dc135b !important; */
    left: '' !important;
}

.carousel-next-icon {
    background-image: url("../assets/Arrow1.png") !important;
}

/* .curosalmoveallignment{
    margin-top: -110px !important;
    background-color: #FFFFFF !important;
    height: fit-content;
    border-radius: 20px !important;
} */
.curosalshapeBG {
    background-color: #FFFFFF !important;
}

/* For Desktop View */
@media screen and (min-device-width: 767px) {

    /* and (min-device-width: 678px) { */
    .curosalmoveallignment {
        margin-top: -110px !important;
        background-color: #FFFFFF !important;
        height: fit-content;
        border-radius: 20px !important;
        /* margin-left: 15%;
        width: 74%; */
    }
}

@media screen and (max-width: 767px) {
    .curosalmoveallignment {
        margin-top: -110px !important;
        background-color: #FFFFFF !important;
        height: fit-content;
        border-radius: 20px !important;
        margin-left: 15%;
        width: 74%;
        margin-left: inherit;
    }
}


.logo {
    /* left: 0;
    position: fixed; */
    width: 83px;
    height: 83px;
}

.logo_1 {
    /* left: 0;
    position: fixed; */
    width: 130px;
    /* height: 75px; */
}

.rightswitchmenu {
    right: 0;
    position: fixed;
}

.btn-group-sm>.btn,
.btn-sm {
    border-radius: 0.4rem !important;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #000000;
}

.langEng {
    background-color: #f0bb7c !important;
    margin-right: -5px !important;
    z-index: 0 !important;
    position: relative;
    cursor: pointer;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    width: 132px;
    height: 42px;
}

.langArab {
    background-color: #FFFFFF !important;
    /* margin-right: -5px !important; */

    cursor: pointer;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    width: 132px;
    height: 42px;
}

.langEngArab {
    background-color: #f0bb7c;
    cursor: pointer;
    margin-right: -5px !important;
    z-index: 0 !important;
    position: relative;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    width: 132px;
    height: 42px;
}

.langArabEng {
    background-color: #FFFFFF !important;
    cursor: pointer;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    width: 132px;
    height: 42px;
}

.rightCorner {
    right: 0%;
    position: fixed;
}

.modal-backdrop {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

.modal {
    /* position: relative; */
    /* margin-left: 73% !important; */
    /* margin-right: -3%; */
    /* overflow: hidden;
    margin-top: 5%; */
    /* left: 0; */

}

/* .modal.left .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
} */
/* .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 98%;
    pointer-events: auto;
    background-color: #232323 !important;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0.3rem;
    outline: 0;
    height: 600px;
    opacity: 0.9;
    margin-left: 7%;
} */

.hamberIcon {
    width: 26px;
    margin-top: 1px !important;
}

.rightCornerGold {
    right: 0%;
    position: fixed;
    margin-right: 1% !important
}

.close {
    float: right;
    font-size: 1.5rem;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
    font-size: 40px;
    font-weight: 100;
    background-color: black !important;

}

button.close {
    color: #FFFFFF;
    border: 0;
    -webkit-appearance: none;
    font-size: 40px;
    font-weight: 100;
    background-color: black !important;

}

.close:focus,
.close:hover {
    color: #fff;
    text-decoration: none;
    opacity: .75;
}

.modal-body {
    position: fixed;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    color: white;
    text-align: left;
    margin-top: 13% !important;
}

.model-body-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    cursor: pointer;
}

.fade.show {
    opacity: 0.98;
}

.model-body-text-selected {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #AA9063;
    cursor: pointer;
}

.model-body-text:hover {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #AA9063;
    cursor: pointer;
}

.plusiconsrc {
    margin-right: 10px;
    width: 15.54px;
}

.business-lines {
    margin-left: 14%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    width: max-content;
    text-transform: uppercase;
    cursor: pointer;
}

.business-lines-selected {
    margin-left: 14%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    width: max-content;
    text-transform: uppercase;
    color: #AA9063;
    cursor: pointer;
}


.btn-warning:hover {
    color: #000000;
    background-color: #ffffff;
    border-color: #AA9063;
    width: 57%;
    border-width: 3px;
    height: 40px;
    border-radius: 6px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.btn-warning {
    color: #ffffff;
    background-color: transparent;
    background-image: none;
    border-color: #AA9063;
    width: 57%;
    border-width: 3px;
    height: 40px;
    border-radius: 6px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.modal-open {
    overflow: overlay;
}

@media (max-width: 700px) {
    .business-lines-heading {
        font-family: 'Avander';
        font-style: normal;
        font-weight: 400;
        font-size: 43px;
        /* line-height: 101px; */
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.08em;
        color: #AA9063;
        opacity: 1;
        justify-content: center;
    }
}

@media (min-width: 701px) {
    .business-lines-heading {
        font-family: 'Avander';
        font-style: normal;
        font-weight: 400;
        font-size: 43px;
        line-height: 101px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.08em;
        color: #AA9063;
        opacity: 1;
        justify-content: center;
    }
}

.second-phasebg {
    background: url(../assets/second-layer.png);
    background-position: "center";
    background-size: "cover";
    background-repeat: "no-repeat";
    width: "100%";
    height: "982px";
    opacity: 0.1;
    justify-content: center;
}

/* @media screen and (min-device-width: 1000px) { */

.second-phase {
    width: 100%;
    height: 982px;
    display: block;
    position: relative;
}

/* } */
/* @media screen and (max-width: 1130px) {

    .second-phase {
        width: 100%;
        height: 770px;
        display: block;
        position: relative;
    }
    } */
.second-phase:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../assets/second-layer.png) center center;
    opacity: .1;
}

.invest-in-future-img {
    /* width: 1057.78px; */
    /* height: 595px; */
}

.invest-in-future-heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 101px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;
    color: #000000;
}

.invest-in-future-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    align-items: center;
    letter-spacing: 1px;

    color: #000000;
}

.decisioning {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    /* line-height: 101px; */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;
    color: #5E5E5E;
    margin-top: 5% !important;
}

.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 2rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 1rem;
    width: 81%;
    margin-top: 1.5%;
}

.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    border-radius: 78px;
}

.progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: #AA9063;
    transition: width .6s ease;
}

.invest-button {
    width: 24%;
    /* width: 178px; */
    height: 41px;
    left: 1136px;
    top: 2153px;
    background: #000000;
    border-radius: 78px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    /* line-height: 101px; */
    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;
    color: #FFFFFF;
}

.social-icons {
    width: 37px;
    height: 37px;
    margin-top: 4%;
}


.sticky {
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 1;
}

.footer-layout {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #262626;
    color: white;
    text-align: center;
    height: 155px;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 400;
}

.footerlogo {
    /* margin-left: -100%; */
}

#box-footer {
    /* display: flex; */
    gap: 40px;
}

.navbar-icons {
    width: 10%;
}

.navbar-icons1 {
    width: 8%;
}

.navbar-social-icons {
    width: 20%;
    cursor: pointer;
}

.newsletter {
    float: left;
    font-size: 16px;
    display: flex;
}

.newsletter_ar {
    float: right;
    font-size: 16px;
    display: flex;
}

.newsletter_input {
    border-radius: 33px;
}

.newsletter_arrow {
    width: 16px;
    margin-left: -28px;
    margin-top: -3px;
}

.footer-layout-mobile {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #262626;
    color: white;
    /* text-align: center; */
    height: 500px;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 400;
}

.footerlogo_mobile {
    width: 95px;
    height: 80px;
}

.mobile-footer {
    margin-left: 7%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
}

.mobil-footer-img {
    width: 4%;
}

.newsletter_input_mobile {
    width: 74%;
    border-radius: 33px;
}

.navbar-social-icons_mobile {
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.readmore {
    position: relative;
    margin-top: 11px;
    margin-bottom: 17px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    align-items: center;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;
}

.cursoerNav {
    cursor: pointer;
    display: flex;
}

.home_logo {
    width: 170px;
}

.phonemail_ar {
    display: flex;
}

.navclass {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    display: flex;
    align-items: center;
    /* background-color:white; */
    opacity: 1;
    z-index: 300;
    transition: 1.5s;
    transform: translateY(0%);

}

/* .modal-dialog{
    left: 42%;
    margin-top: 5%;
} */


.setwidthflex {
    width: 74%;
}

@media (min-width: 740px) and (max-width: 978px) {
    .path {
        /* position: absolute; */
        /* margin-left: 13%; */
        /* margin-top: -6%; */
    }
}

@media (min-width: 543px) and (max-width: 739px) {
    .path {
        /* position: absolute; */
        /* margin-left: 18%; */
        /* margin-top: -7%; */
    }
}

@media (max-width: 542px) {
    .path {
        /* position: absolute; */
        /* margin-left: 26%; */
        /* margin-top: -10%; */
    }
}

@media (min-width: 979px) {
    .path {
        /* position: absolute; */
        /* margin-left: 12%; */
        /* margin-top: -3%; */
    }
}


/* .contact-color {
  filter: grayscale(0);
  -webkit-filter:grayscale(0);
} */


@media (max-width: 450px) {
    .modal-content {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 72%;
        pointer-events: auto;
        background-color: #000;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 0.3rem;
        outline: 0;
        height: 572px;
        border-radius: 8px
    }

    .modal-dialog {
        position: fixed;
        margin: auto;
        width: 382px;
        /* height: 100%; */
        right: -8%;
        margin-top: 22%;
    }

    .model-footer {
        margin-top: 157% !important;
    }

}

@media (min-width: 449px) {
    .modal-content {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 79%;
        pointer-events: auto;
        background-color: #000;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 0.3rem;
        outline: 0;
        height: 570px;
        border-radius: 8px
    }

    .modal-dialog {
        position: fixed;
        margin: auto;
        width: 440px;
        /* height: 100%; */
        right: -4.9%;
        margin-top: 9%;
    }

    .model-footer {
        margin-top: 117% !important;
    }

}